<template>

      <form id="cmtform" class="input-group">
        <p class="error">{{ errors }}</p>
        <label for="comment">Add comment :</label>
        <span>
          <div class="input-area">
            <textarea id="comment" name="comment" form="cmtform" rows="5" cols="33" v-model="contenu" required></textarea>
          </div>
        </span>
        <button class="btn" @click="comment" type="button">Submit</button>
      </form>

</template>

<script>

import {HTTP} from "../store/module/http_url";

export default {
  name: 'AddComment',
  data () {
    return {
      contenu: '',
      topic_id: this.$route.params.id,
      utilisateur_id: localStorage.getItem("id"),
      errors:'',
    }
  },
  methods:{
    comment() {
      HTTP.post('http://localhost:8000/api/commentaire/new', { contenu:this.contenu, topic_id:this.topic_id, utilisateur_id:this.utilisateur_id})
          .then(response => {
            console.log("response : " + response.data)
            document.location.reload()
          })
          .catch(e => {
            e = "Please connect you to your account"
            this.errors = e
          })
    }
  },
}
</script>

<style lang="scss" scoped>

label{
  color: white;
  font-size: large;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
  background: rgba(0,0,0,0.8);
}

.input-area{
  position:relative;
  margin-bottom:25px;
  label{
    position:absolute;
    top:0;
    left:0;
    font-size:16px;
    color:#fff;
  }
  input , textarea{
    border:1px solid #555;
    background:transparent;
    width:100%;
    padding:25px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
}
</style>