<template>

  <div>
    <div v-if="connect">
      <profil>
      </profil>
    </div>
    <div v-else>
      <form v-on:submit.prevent="login()" id="login" class="input-group">
        <h1 id="t" >Login</h1>

        <span id="error" v-if="errors">Login Failed</span>

        <div class="input-row">
          <input type="text" id="inputPseudo" placeholder="Pseudo" v-model="pseudo" required autofocus>
        </div>

        <div class="input-row">
          <input type="password" id="inputPassword" placeholder="Password" v-model="password" required>
        </div>

        <button class="btn">Login</button>
      </form>
    </div>
  </div>
</template>

<script>

import {HTTP} from '../store/module/http_url';
import ProfilCard from "./ProfilCard";

export default {
  name: 'Auth',
  components: {
    'profil': ProfilCard
  },
  data() {
    return {
      pseudo: '',
      password: '',
      errors: '',
      connect: localStorage.getItem("name")
    }
  },
  methods: {
    login() {
      HTTP.get("http://localhost:8000/api/utilisateur/auth/"+this.pseudo+"/"+this.password)
          .then(response =>{
            this.loginSuccess(response)
          })
          .catch(e => {
            this.errors = e;
            localStorage.clear();
          })
    },
    loginSuccess(response){
        localStorage.setItem("name",response.data.nom)
        localStorage.setItem("firstname",response.data.prenom)
        localStorage.setItem("mail",response.data.mail)
        localStorage.setItem("id", response.data.id)
        console.log(localStorage)
        this.$router.go(this.$router.currentRoute)
    }
  }
}

</script>

<style scoped lang="scss">

h1{
  color: white;
}

#error{
  color: red;
}

#t{
  color:#fff;
  margin: revert;
}
</style>