<template>
  <div class="todo-item" data-cy="categorieContainer">
    <p>
    </p>
  </div>
</template>

<script>

export default {
  name: "Categorie",
}
</script>

<style scoped>
.todo-item {
  background: #f4f4f4;
  padding: 50px;
  border-bottom: 1px #ccc dotted;
}
.cb {
  text-decoration: none;
}

.is-complete {
  text-decoration: line-through;
  color: red;
}
</style>
