<template>
  <div class="sec">

    <div>
      <h1>Category</h1>
      <div class="flex">
      <label for="cat">Choose a category : </label>
        <select name="cat" id="cat" class="cat" >
            <option class="cat-opt" value="all">* - All subjects</option>
            <option v-for="cat in categorie" :key="cat.id" class="cat-opt">{{cat.id}} - {{cat.nom}}</option>
        </select>
        <input @click="show" type="button" class="btn" value="Research"><br><br>
      </div>
    </div>

    <h1>Topics</h1>

    <div class="list-topics">
      <div class="box-topic row">
        <h3 class="col-md-5 title topic">Subject</h3>
        <h3 class="col-md-3 title auteur">Author</h3>
        <h3 class="col-md-2 title supprimer">Delete</h3>
        <h3 class="col-md-2 title update">Update</h3>
      </div>

      <p v-for="item in topic" :key="item.id" class="box-topic row">
        <a v-bind:href="'#/quote/'+item.id" class="topic col-md-5"> {{ item.titre }} </a>
        <span class="col-md-3 auteur">{{ item.auteur_topic }}</span>
        <input class="btn btn_supprimer col-md-1.5" @click="del(item.id)" type="button" value="Delete">
        <input class="btn btn-modifier col-md-1.5" @click="update_topic(item.id)" type="button" value="Update">
      </p>

      <br> <br>

      <input @click="new_topic" type="button" class="btn" value="Create topic"> <br>
    </div>

    <br> <br>

    <section id="new_modif_topic">
      <h1 id="titre_modif_ajout">Create topic</h1><br>

        <label for="titre">Topic title : </label>
        <div class="input-row">
          <input type="text" name="titre" id="titre" placeholder="Your beautiful title or question..."><br><br>
        </div>

        <label for="contenu">Content of topic : </label>
        <div class="input-row">
          <input type="text" name="contenu" id="contenu" placeholder="The content of your great topic..."><br><br>
        </div>

        <section id="sect_choix_cat">
          <label for="choix_cat">Chosse a category : </label>
          <select name="choix_cat" id="choix_cat" class="cat">
            <option v-for="cat in categorie" :key="cat.id" class="cat-opt" value="">{{cat.id}} - {{cat.nom}}</option>
          </select>
        </section>

        <input class="btn save" id="save" @click="add" type="button" value="Post"> <br>
        <input class="btn btn-update" id="update" @click="update" type="button" value="Update"> <br>

    </section>
  </div>
</template>
<script>

import {HTTP} from "../store/module/http_url";

export default {
  name: 'ListQuote',
  data () {
    return {
      topic: [],
      topic_details : [],
      categorie : [],
      topics_delete : [],
      id_actuel : 0,
      errors: []
    }
  },
  created() {
    HTTP.get('http://localhost:8000/api/categorie')
      .then(response => {
        this.categorie = response.data.categorie
      })
      .catch(e => {
        this.errors = e
      })
    HTTP.get('http://localhost:8000/api/topic')
            .then(response => {
              this.topic = response.data.topic
            })
          .catch(e => {
            this.errors = e
    })
  },
  methods: {
      del (id) {
        HTTP.delete('http://localhost:8000/api/topic/'+id)
        .then(response => {
          this.topic_deleted = response.data
          window.location.reload()
        })
        .catch(e => {
          this.errors = e
        })
      },

      show () {
        let id_categ = document.getElementById("cat").options[document.getElementById("cat").selectedIndex].text[0]
        if (id_categ == '*'){
          HTTP.get('http://localhost:8000/api/topic')
            .then(response => {
              this.topic = response.data.topic
            })
          .catch(e => {
            this.errors = e
          })
        }else{
          HTTP.get('http://localhost:8000/api/categorie/'+id_categ)
            .then(response => {
              this.topic = response.data.topics
            })
          .catch(e => {
            this.errors = e
          })
        }
      },

      new_topic(){
        document.getElementById("new_modif_topic").style.visibility = "visible"
        document.getElementById("update").style.visibility = "hidden"
      }, 

      add () {
        if (localStorage.getItem("id") == null){
          alert("Vous devez vous inscrire ou vous connecter pour créer un topic")
        }
        if (document.getElementById("titre").value == "" || document.getElementById("contenu").value == ""){
          alert("Au moins des champs est vide, essayez à nouveau !")
        }else{
          let id_categ = document.getElementById("choix_cat").options[document.getElementById("choix_cat").selectedIndex].text[0]
          console.log("id cat : " + id_categ)
          HTTP.post('http://localhost:8000/api/topic/new', {"titre" : document.getElementById("titre").value, "contenu" : document.getElementById("contenu").value, "id" : localStorage.getItem("id"), "categorie" : id_categ})
            .then(response => {
              this.topic = response.data.topic
              document.location.reload()
            })
            .catch(e => {
              this.errors = e
            })
        }
        document.getElementById("new_modif_topic").style.visibility = "hidden"
      },

      update_topic (id){
        document.getElementById("titre_modif_ajout").innerText = "Modifier le topic"
        HTTP.get('http://localhost:8000/api/topic/'+id)
            .then(response => {
              document.getElementById("titre").value = response.data.titre
              document.getElementById("contenu").value = response.data.contenu
            })
          .catch(e => {
            this.errors = e
          })
          document.getElementById("new_modif_topic").style.visibility = "visible"
          document.getElementById("save").style.visibility = "hidden"
          document.getElementById("sect_choix_cat").style.visibility = "hidden"
          this.id_actuel = id
      },

      update() {
        var body = {"titre" : document.getElementById("titre").value, "contenu" : document.getElementById("contenu").value}
        HTTP.put('http://localhost:8000/api/topic/'+this.id_actuel, body)
            .then(response => {
              console.log(response.data)
              window.location.reload()
            })
          .catch(e => {
            this.errors = e
          })
      }
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.btn-update{
  margin-top: -15vh;
}

.list-topics{
  border:solid 2px;
  background-color: rgba(3,3,3,0.40);
  padding: 50px 30px;
  display: inline-block;
  width: 80%;
}

.box-topic{
  padding: 15px;
  border-bottom: 1px solid #555;
  display: flex;
}

.topic{
  margin-inline-end: auto;
  color: #00bfff;
  text-decoration: none;
  text-align: initial;
}

.id{
  color: #fff;
}

h1{
  color: #fff;
}

label{
  color: white;
  font-size: larger;
}

.title{
  color: white;
}

#new_modif_topic{
  visibility: hidden;
  background: rgba(0,0,0,0.69);
  border: black solid 1.5px;
  padding: 50px 80px 120px;
}

.cat{
  margin: 20px;
  color: #fff;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.cat-opt{
  background: #111111;
  border-radius: 5%;
}

.auteur{
  color: aliceblue;
}

.flex{
  display: inline-flex;
  align-items: center;
}

#sect_choix_cat{
  display: inline-grid;
}
</style>
