<template>
    <div>
        <h1 class="titre">Add topic</h1><br>
        <label for="titre">Title of topic : </label>
        <input type="text" name="titre" id="titre" placeholder="My good title"><br><br>
        <label for="contenu">Content of topic : </label>
        <input type="text" name="contenu" id="contenu" placeholder="Here your question"><br><br>
        <input @click="add" type="button" class="btn" value="Post topic"> <br>
        <a v-bind:href="'#/quote/'+id" class="retour"> <input type="button" class="btn" value="Back"> </a>
    </div>
</template>

<script>

import {HTTP} from "../store/module/http_url";
// import axios from 'axios';

export default {
    name: 'ListeQuote',
  data () {
    return {
      topic: [],
      utilisateur : [],
      id : document.location.href.slice(-1),
      resp : [],
      errors: []
    }
  },
  created() {
    HTTP.get('http://localhost:8000/api/utilisateur')
        .then(response => {
          this.utilisateur=response.data.utilisateur
        })
        .catch(e => {
          this.errors = e
        })
  },
  methods: {
      add () {
        HTTP.post('http://localhost:8000/api/commentaire/new/'+this.id, {"contenu" : document.getElementById("contenu").value})
                .then(response => {
                    console.log("response : " + response.data.titre)
                })
                .catch(e => {
                    this.errors = e
                })
      }
  }
}
</script>

<style lang="scss" scoped>
.titre{
    color:rgb(231, 16, 16);
}
</style>

