<template>

  <div class="style">
    <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_100x100.png" alt="Img user">
    <p>{{ name }} {{ firstname }}</p>
    <br>
    <p>{{ mail }}</p>
    <button class="btn" @click="disconnect">Disconnect</button>
  </div>

</template>


<script>
export default {
  name:"ProfilCard",
  data(){
    return {
      firstname: localStorage.firstname,
      name: localStorage.name,
      mail: localStorage.mail,
      connect: true,
    }
  },
  created() {
    console.log(localStorage)
  },
  methods:{
    disconnect(){
      localStorage.clear();
      this.$router.go(this.$router.currentRoute);
    }
  },
}

</script>

<style>

img{
  padding: 25px;
}

button{
  margin-top: 5vh;
}

.style{
  width: 40vh;
  height: 50vh;
  padding: 50px;
  background: rgba(0,0,0,0.75);
  color: white;
  border-radius: 5%;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

</style>