<template>
  <div class="sec">
    <h1 class="title">Subject : {{ topic.titre }}</h1> <br>
    <h2 class="contenu"> Question : {{topic.contenu}} </h2><br>

    <h5 class="categorie" v-for="cat in topic.categorie" :key="cat.id"> Catégorie : {{ cat.nom_cat }}</h5>

    <section class="message" v-for="com in topic.commentaires" :key="com.id">
      <p>{{ format_date(com.creation.date) }}</p>
      <p class="pseudo">{{ com.auteur }} wrote : </p>

      <br>
      <p class="content">{{ com.contenu }}</p><br>
    </section> <br>

    <br>
    <div v-if="visible">
      <comment>
      </comment>
    </div>
    <div v-else>
      <input @click="new_com" class="btn" type="button" value="Add comment" placeholder="Your helpful comment... ">
    </div>

  </div>
</template>

<script>

import {HTTP} from "../store/module/http_url";
import AddComment from "./AddComment";
import moment from "moment";

export default {
  name: 'Quote',
  components: {
    'comment': AddComment,
  },
  data () {
    return {
      topic: [],
      id : 0,
      visible: false,
      errors: []
    }
  },
  created() {
    let url = document.location.href
    this.id = url.slice(-1)
    if(url.slice(-2)[0] != '/'){
      this.id = url.slice(-2)
    }
    HTTP.get('http://localhost:8000/api/topic/'+this.id)
        .then(response => {
          this.topic = response.data
          console.log(this.topic)
        })
        .catch(e => {
          this.errors = e
        })
  },
  methods: {
    new_com(){
      this.visible = true;
    },
    format_date(value){
      if (value) {
        return moment(String(value)).format('DD/MM/YYYY hh:mm')
      }
    },
  },
}
</script>

<style lang="scss" scoped>

.title{
  color:white;
}

.message{
  border-bottom:solid 1px;
  background-color: rgba(3,3,3,0.40);
  padding: 10px 30px 30px;
  display: inline-block;
  width: 70%;
  color: #111111;
  margin-bottom: 15px;
}


.pseudo{
  padding: 15px;
  border-bottom: 1px solid #888;
  color: white;
}

.content{
  color: white;
}

</style>