<template>

  <div class="sec form-container">

    <span class="error" v-if="utilisateur.errors">Login Failed</span>

    <span class="success" v-if="this.success">Vos données ont bien été enregistré</span>

    <form v-on:submit.prevent="login" class="input-group">
      <h2 id="title_connect">Please sign up</h2>

      <div class="input-row">
        <label for="inputName" >Name</label>
        <input type="text" id="inputName" placeholder="" v-model="utilisateur.nom" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputFirstName" >First Name</label>
        <input type="text" id="inputFirstName" placeholder="" v-model="utilisateur.prenom" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputPseudo" >Pseudo</label>
        <input type="text" id="inputPseudo" placeholder="" v-model="utilisateur.pseudo" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputEmail" >Email address</label>
        <input type="email" id="inputEmail" placeholder=""  v-model="utilisateur.mail" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" placeholder="" v-model="utilisateur.password" required>
      </div>

      <button class="btn">Sign up</button>

    </form>

  </div>
</template>

<script>

import {HTTP} from '../store/module/http_url';

export default {
  name: 'SignUp',
  data () {
    return {
      utilisateur : {
        nom: '',
        prenom: '',
        mail: '',
        pseudo: '',
        password: '',
        errors:'',
        success: '',
      }
    }
  },
  methods: {
    login () {
      HTTP.post("http://localhost:8000/api/utilisateur/new",
          {
            nom: this.utilisateur.nom,
            prenom: this.utilisateur.prenom,
            mail: this.utilisateur.mail,
            pseudo: this.utilisateur.pseudo,
            password: this.utilisateur.password,
            role: 0,
            api: Math.random().toString().slice(2,11),
          }
      )
          .then(response =>{
            this.loginSuccessful(response);
          })
          .catch(e => {
            this.utilisateur.errors = e;
            this.success = false;
          })
    },
    loginSuccessful () {
      this.utilisateur.errors = false
      this.success = true
      localStorage.clear();
    },
  }
}

</script>


<style scoped lang="scss">

#title_connect{
  color:#fff;
  margin: revert;
}
</style>