<template>
  <div id="app">
    <Navigation
        :nav-links="navLinks"
        :image-path="require('./assets/img/logo.png')"
        background-color="#333"
        link-color="#FFF"
        hover-background="#555"
    />
    <router-view/>
    
  </div>
</template>

<script>

import Navigation from './components/Navigation.vue'

export default {
  components : {
    Navigation,
  },
  data : () => ({
    navLinks: [
      {
        text: 'Home',
        path: '/',
        icon: 'ion-ios-home'
      },
      {
        text: 'Forum',
        path: '/forum',
        icon: 'ion-ios-chatbubbles'
      },
      {
        text: 'Log in',
        path: '/login',
        icon: 'ion-ios-log-in'
      },
      {
        text: 'Sign Up',
        path: '/signup',
        icon: 'ion-ios-person'
      },
    ]
  })
}
</script>

<style lang="scss">

@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

figure{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sec{
  position: relative;
  width: 100%;
  min-height: 93.4vh;
  background: linear-gradient(#03a9f4,#e91e63);
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.btn{
    border: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.btn:hover{
  box-shadow: 1px 1px 11px 6px white;
}

.input-row{
  position:relative;
  margin-bottom:25px;
  label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
  }
  input , textarea{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:25px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
  }
  input:focus ~ label, .input-row input:valid ~ label{
    top:-12px;
    font-size:12px;
  }
}


.input-group{
  width: 560px;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.45);
  border-radius:3px;
  padding:30px 60px;
  z-index: 6;
  display: flex;
  flex-direction: column;
}

.error{
  color: orangered;
}
</style>
